<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.ViewMembersOfCollabActivity"
            android:label="@string/title_activity_view_members_of_collab"
            android:parentActivityName=".activity.CollabDetailActivity" />
        <activity
            android:name=".activity.ViewMessagesActivity"
            android:label="Messages"
            android:parentActivityName=".activity.CollabDetailActivity" />
        <activity
            android:name=".activity.MessageListActivity"
            android:label="Chatroom" />
        <activity
            android:name=".activity.OtherProfileActivity"
            android:parentActivityName=".activity.ViewMembersOfCollabActivity"
            android:label="Member Profile"
            />
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activity.EditCollabActivity"
            android:label="Edit Collab"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".activity.EditCollabClassesActivity"
            android:label="EditCollabClasses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditCollabSkillsActivity"
            android:label="EditCollabSkills"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserClassesActivity"
            android:label="@string/title_activity_user_classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddCollabActivity"
            android:parentActivityName=".activity.CollabListActivity" />
        <activity android:name=".activity.CollabListActivity" />
        <activity
            android:name=".activity.CollabDetailActivity"
            android:label="@string/title_collab_detail"
            android:parentActivityName=".activity.CollabListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.socialmediaapp.activity.CollabListActivity" />
        </activity>
        <activity
            android:name=".activity.UserSkillsActivity"
            android:label="Skills"
            android:parentActivityName=".activity.ProfileActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>