<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ViewMembersOfCollabActivity"
            android:label="@string/title_activity_view_members_of_collab"
            android:parentActivityName=".CollabDetailActivity" />
        <activity
            android:name=".ProfilePageOfOthers"
            android:parentActivityName=".ViewMembersOfCollabActivity"
            android:label="Member Profile"
            />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".EditCollabActivity"
            android:label="Edit Collab"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ProfilePage"
            android:label="Profile" />
        <activity
            android:name=".EditCollabClassesActivity"
            android:label="EditCollabClasses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditCollabSkillsActivity"
            android:label="EditCollabSkills"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserClassesActivity"
            android:label="@string/title_activity_user_classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCollabActivity"
            android:parentActivityName=".CollabListActivity" />
        <activity android:name=".CollabListActivity" />
        <activity
            android:name=".CollabDetailActivity"
            android:label="@string/title_collab_detail"
            android:parentActivityName=".CollabListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.socialmediaapp.CollabListActivity" />
        </activity>
        <activity
            android:name=".UserSkillsActivity"
            android:label="Skills"
            android:parentActivityName=".ProfilePage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>