<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialmediaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfilePage">
            android:parentActivityName=".CollabListActivity"
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.socialmediaapp.CollabListActivity" />
        </activity>
        <activity
            android:name=".AddCollabActivity"
            android:parentActivityName=".CollabListActivity" />
        <activity
            android:name=".CollabListActivity"
            android:label="@string/title_collab_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollabDetailActivity"
            android:label="@string/title_collab_detail"
            android:parentActivityName=".CollabListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.socialmediaapp.CollabListActivity" />
        </activity>
        <activity android:name=".UserSkillsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>